body{
	margin: 0;
	padding: 0;
}
h1{
	font-size: 70px;
	font-family: "lato";
	line-height: 0;
}
h3{
	font-size: 40px;
	font-family: "condiment";
	line-height: 0;
}
.about-title{
	font-family: "lato";
	float: right;
	padding: 40px 25px;
}
.project-title{
	font-family: "lato";
	position: absolute;
	top: 5%;
	left: 44%;
}
.contact-title{
	font-family: "lato";
}
.contact-tagline{
	font-family: "lato";
	color: hotpink;
}
h2{
	font-size: 20px;
	font-family: "commissioner";

}
h4{
	font-size: 20px;
	font-family: "commissioner";
	padding: 5% 10%;
}
p{
	font-family: "lato";
	padding-top: 20%;
}
a{
	color: black;
}
/* Pre loader */
.loader{
	position: fixed;
	width: 100%;
	height: 100%;
	background: pink;
	z-index: 2;
	overflow: hidden;
	animation: loader 2s ease 2s;
    animation-fill-mode: forwards;
}

.loader .intro{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.loader .intro h3{
	font-size: 120px;
	color: black; 
}
@keyframes loader{
	0%{
        opacity: 1;
	}
	100%{
		opacity: 0;
		z-index: -2;
	}
}
/* Landing Page */
#landingPage{
	width: 100%;
	height: 100vh;
	text-align: center;
	position: relative;
}
.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 15%;
	height: 9%;
	background-color: pink;
	text-align: center;
}
.line{
	position: absolute;
	left: 0;
	top: 95%;
	width: 145px;
	height: 1px;
	background-color: black;
}
.nav{
	position: absolute;
	top: 0;
	right: 2%;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
	list-style: none;
}
li{
	display: inline-block;
	padding: 0px 15px;
}
li a{
	transition: all 0.3s ease 0s;
	text-decoration: none;
	font-size: 20px;
	font-family: "commissioner";
	color: black;
	cursor: pointer;
}
li a:hover{
	text-decoration-color: pink;
	text-decoration: line-through;
}
.nav-btn{
	color: #fff;
    background-color: black;
    border-radius: 30px;
    padding: 8px 25px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-decoration: none;
    line-height: 26px;
    font-size: 18px;
    font-family: "commissioner";
    border-color: black;
    box-shadow: 0px 8px 15px rgba(0,0,0,.4);
    margin-top: 15px;
    transition: 0.8s all;
}
.title{
    position: absolute;
    top: 20%;
    left: 40%;
    text-align: left;
}
.para{
	position: absolute;
	top: 70%;
	left: 35%;
	text-align: left;
}
.sidebar{
	width: 45%;
	height: 75%;
	position: absolute;
	top: 20%;
	right: 0;
	background-color: pink;
}
.strip{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 7%;
	height: 35%;
	background-color: black;
}
.svg2{
	position: absolute;
	top: 20%;
	left: 30%;
	width: 300px;
	height: 220px;
	z-index: -1;
	animation: svgTwo 4s ease-in-out 0s infinite;
	animation-direction: alternate;
}
@keyframes svgTwo{
	from{
		transform: translate(0);
	}
	to{
		transform: translateY(40px);
	}
}
.svg4{
	position: absolute;
	top: 70%;
	left: -5%;
	width: 300px;
	height: 250px;
	z-index: -1;
	animation: svgFour 8s ease-in-out 0s infinite;
	animation-direction: alternate;
}
@keyframes svgFour{
	from{
		transform: translate(0);
	}
	to{
		transform: translateY(-170px);
	}
}
.svg5{
	position: absolute;
	top: 0;
	left: 70%;
	width: 300px;
	height: 250px;
	z-index: -1;
	animation: svgFive 6s ease-in-out 0s infinite;
	animation-direction: alternate;
}
@keyframes svgFive{
	from{
		transform: translate(0) rotate(0);
	}
	to{
		transform: translateY(-100px) rotate(90deg);
	}
}

/* About */
#about{
	width: 100%;
	height: 100vh;
	position: relative;
}

.topbar{
	position: absolute;
	top: 10%;
	left: 0;
	width: 30%;
	height: 35%;
	background-color: pink;
}
.box{
	position: absolute;
	top: 30%;
	left: 20%;
	width: 50%;
	height: 60%;
	border: 3px solid black;
	background-color: transparent;
}
.pos{
	float: right;
	margin: 15px;
}
.svg1{
	position: absolute;
	top: 70%;
	left: 13%;
	width: 400px;
	height: 400px;
	z-index: -1;
	animation: svgOne 8s ease-in-out 0s infinite;
	animation-direction: alternate;
}
@keyframes svgOne{
	from{
		transform: translate(0);
	}
	to{
		transform: translateY(-200px);
	}
}
.svg3{
	position: absolute;
	top: 10%;
	right: 0;
	width: 400px;
	height: 350px;
	z-index: -1;
	animation: svgThree 5s ease-in-out 0s infinite;
	animation-direction: alternate;
}
@keyframes svgThree{
	from{
		transform: translate(0);
	}
	to{
		transform: translateY(200px);
	}
}

/* skills */
#skills{
	width: 100%;
	height: 110vh;
	position: relative;
}
.sidebar3{
	position: absolute;
	top: 5%;
	right: 0;
	width: 10%;
	height: 80%;
	background-color: pink;
}
.strip3{
	position: absolute;
	top: 8%;
	right: 0;
	width: 40%;
	height: 25%;
	background-color: black;
}
.sidebar4{
	position: absolute;
	top: 5%;
	left: 0;
	width: 10%;
	height: 80%;
	background-color: pink;
}

.photo{
	width: 150px;
	height: 150px;
	padding: 10px;
}
.bio{
	position: absolute;
	top: 0;
	left: 35%;
	color: white;
}
.education{
	width: 45%;
	position: absolute;
	top: 5%;
	left: 15%;
}
.h4{
	padding: 0;
	line-height: 0;
}
.h3{
	line-height: 0;
	font-family: "lato";
}
.imp{
	color: hotpink;
	padding-left: 30px; 
}
.imp2{
	padding-left: 40px; 
}
.experience{
	width: 45%;
	position: absolute;
	top: 50%;
	left: 15%;
}
.skills-set{
	width: 400px;
    position: absolute;
    top: 34%;
    right: 11%;
}
.h2{
	padding: 0 15px;
	font-size: 40px;
	font-family: "lato";
}
.li {
    position: relative;
    list-style: none;
    margin: 40px 0;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    font-family: "commissioner";
}

.li:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: pink;
    box-shadow: 0px 8px 15px rgba(0,0,0,.4);
    border-radius: 1000px;
}

.li:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: black;
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.li.html:after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 90%;
    }
}

.li.css:after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 80%;
    }
}

.li.js:after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 75%;
    }
}

.li.ng:after {
    animation-name: ng;
}

@keyframes ng {
    to {
        width: 60%;
    }
}
.svg10{
	position: absolute;
	top: 50%;
	left: 0;
	width: 200px;
	height: 200px;
	z-index: -1;
	animation: svgTen 7s ease-in-out 0s infinite;
	animation-direction: alternate;
}
@keyframes svgTen{
	from{
		transform: translate(0) rotate(0deg);
	}
	to{
		transform: translateY(-200px) rotate(360deg);
	}
}
.svg11{
	position: absolute;
	top: 20%;
	right: 10%;
	width: 300px;
	height: 250px;
	z-index: -1;
	animation: svgElven 5s ease-in-out 0s infinite;
	animation-direction: alternate;
}
@keyframes svgElven{
	from{
		transform: translate(0);
	}
	to{
		transform: translateY(300px);
	}
}
/* projects */
#projects{
	width: 100%;
	height: 80vh;
	background-color: black;
	position: relative;
	text-align: center;
}
.cover{
	width: 100%;
	height: 100%;
	background-color: pink;
	transform: skewY(-3deg);
}
.projects-container{
	width: 100%;
	height: 50%;
	z-index: 1;
	position: absolute;
	top: 27%;
	left: 0;
}
.project{
	width: 30%;
	height: 100%;
	padding: 0px 20px;
	display: inline-block;
	text-align: center;
}
.pro-img{
	width: 400px;
	height: 200px;
	box-shadow: 0px 8px 15px rgba(0,0,0,.4);
}
.pos2{
	position: absolute;
	bottom: 5%;
	left: 43.5%;
}
.svg8{
	position: absolute;
	top: -5%;
	left: 5%;
	width: 300px;
	height: 220px;
	z-index: 0;
	animation: svgEight 10s ease-in-out 0s infinite;
	animation-direction: alternate;
}
@keyframes svgEight{
	from{
		transform: translate(0) rotate(0);
	}
	to{
		transform: translateX(800px) rotate(360deg);
	}
}
.svg9{
	position: absolute;
	bottom: -5%;
	right: 5%;
	width: 300px;
	height: 280px;
	z-index: 0;
	animation: svgNine 10s ease-in-out 0s infinite;
	animation-direction: alternate;
}
@keyframes svgNine{
	from{
		transform: translate(0) rotate(0);
	}
	to{
		transform: translateX(-800px) rotate(-360deg);
	}
}

/* contacts */
#contacts{
	width: 100%;
	height: 60vh;
	text-align: center;
	position: relative;
}
.contact-me{
	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
}
.svg6{
	position: absolute;
	top: 35%;
	left: 5%;
	width: 300px;
	height: 220px;
	z-index: -1;
	animation: svgSix 10s ease-in-out 0s infinite;
	animation-direction: alternate;
}
@keyframes svgSix{
	from{
		transform: translate(0) rotate(0);
	}
	to{
		transform: translate(150px, -100px) rotate(360deg);
	}
}
.svg7{
	position: absolute;
	top: 0;
	right: 3%;
	width: 300px;
	height: 280px;
	z-index: -1;
	animation: svgSeven 8s ease-in-out 0s infinite;
	animation-direction: alternate;
}
@keyframes svgSeven{
	from{
		transform: translate(0) rotate(0);
	}
	to{
		transform: translate(-250px, 100px) rotate(-360deg);
	}
}

/* footer */
#footer{
	width: 100%;
	height: 30vh;
	position: relative;
	background-color: #f6f6f6;
}
.logo{
	position: absolute;
	top: 10%;
	left: 0;
	width: 15%;
	height: 28%;
	background-color: pink;
	text-align: center;
}
.scroll-indicator{
	width: 40px;
	height: 40px;
	background-color: pink;
	position: absolute;
	top: 45%;
	left: 11.25%;
	font-size: 30px;
	text-align: center;
	padding: 5px;
}
.link{
	display: flex;
	position: absolute;
	top: 5%;
	left: 41%;
}
.footer-link{
  color: black;
  font-family: 'commissioner';
  margin: 15px 12px;
  text-decoration: none;
  font-size: 20px;
}

.footer-link:hover {
  color: hotpink;
}
.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}
.footer-social-icons ul li{
    margin: 0 15px;
    list-style: none;
}
.footer-social-icons ul li a{
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background: black;
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgba(0,0,0,.4);
    font-size: 30px;
    color: #666;
    transition: -5s;
}
.footer-social-icons ul li a:before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: hotpink;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
.footer-social-icons ul li a:hover:before{
    transform: scale(1.1);
    box-shadow: 0 0 15px hotpink;
}
.footer-social-icons ul li a:hover{
    color: hotpink;
    box-shadow: 0 0 5px hotpink;
    text-shadow: 0 0 5px hotpink;
}
.sidebar2{
	width: 30%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: pink;
	text-align: center;
}
.strip2{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 7%;
	height: 50%;
	background-color: black;
}




/* Mobile */

@media screen and (min-width: 360px) and (max-width: 1020px){
	h3{
		font-size: 100px;
	}
	.line, .li2, .non{
		display: none;
	}
	.header{
		height: 8%;
		width: 30%;
	}
	.nav-btn{
		font-size: 50px;
		padding: 25px 35px;
	}
	.nav {
		top: 3%;
	}
	h1{
		font-size: 140px;
	}
	.title, .para{
		left: 12%;
	}
	.sidebar{
		height: 68%;
	}
	.strip{
		width: 10%;
	}
	h2{
		font-size: 55px;
	}
	.svg4{
		left: -20%;
		width: 450px;
		height: 320px;
	}
	.svg5{
		left: 55%;
	}
	.svg2{
		width: 550px;
		height: 400px;
		left: 1%;
	}
	.topbar{
		width: 45%;
		height: 25%;
	}
	.box{
		width: 75%;
		top: 25%;
		left: 15%;
		height: 63%;
	}
	h4{
		font-size: 45px;
		padding: 0 5%;
	}
	#skills{
		height: 140vh;
	}
	.experience{
		top: 70%;
		left: 13%;
		width: 80%;
	}
	.strip3{
		width: 87%;
		height: 12%;
	}
	.photo{
		width: 280px;
		height: 280px;
	}
	.bio{
		left: 37%;
	}
	.skills-set{
		width: 700px;
		left: 12%;
		top: 20%;
	}
	.h2{
		font-size: 90px;
	}
	.li{
		font-size: 45px;
	}
	.li:before, .li:after{
		height: 25px;
	}
	.svg11{
		width: 450px;
		height: 350px;
	}
	.svg10{
		width: 300px;
		height: 300px;
		top: 70%;
		left: 66%;
	}
	.education{
        top: 43%;
        left: 13%;
        width: 70%;
	}
	.h4{
		font-size: 50px;
	}
	.sidebar3, .sidebar4{
		height: 90%;
	}
	#projects{
		height: 115vh;
	}
	.svg8{
		width: 400px;
		height: 320px;
		top: 2%;
		left: 2%;
	}
	@keyframes svgEight{
		0% {
            transform: translate(0) rotate(0);
        }
		100% {
		    transform: translateX(400px) rotate(360deg);
		}
	}
	.svg9{
		width: 400px;
		height: 320px;
		bottom: 2%;
		right: 10%;
	}
	@keyframes svgNine{
		0% {
            transform: translate(0) rotate(0);
        }
		100% {
		    transform: translateX(-400px) rotate(-360deg);
		}
	}
	.project-title{
		top: 3%;
		left: 30%;
	}
	.projects-container{
		top: 14%;
	}
	.project{
		display: block;
		width: 100%;
		height: 50%;
		padding: 0;
	}
	.pro-img{
		width: 700px;
		height: 350px;
	}
	.pos2{
		bottom: 3%;
		left: 30%;
	}
	#contacts{
		height: 50vh;
	}
	.contact-me{
	    width: 90%;
	    margin: 20% 5%;
    }
    .p2{
    	font-size: 55px;
    }
    .svg6{
    	width: 400px;
    	height: 400px;
    	top: 60%;
    }
    .svg7{
    	width: 200px;
    	height: 180px;
    	right: 7%;
    }
    .logo{
    	width: 27%;
    }
    .sidebar2{
    	width: 100%;
    	height: 20%;
    	top: 80%;
    }
    .strip2{
    	height: 100%;
    }
    p{
    	padding: 0;
    	font-size: 35px;
    }
    .scroll-indicator{
    	width: 100px;
    	height: 100px;
    	font-size: 80px;
    }
    .link{
    	top: 15%;
    	left: 33%;
    }
    .footer-link{
    	font-size: 60px;
    }
    .footer-social-icons ul{
    	top: 46%;
    	left: 63%;
    }
    .footer-social-icons ul li a{
    	width: 100px;
    	height: 100px;
    	font-size: 60px;
    	line-height: 100px;
    }
}